*{
  color:white;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.title{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    position: relative;
    left: 100px;
    font-size: 30px;
}
.title p{
    font-size: 20px;
    text-align: justify;
    
}
.header-about{
    display: grid;
    gap: 5px;
    margin-top: 15vh;
   
}
.header-about .image{
    position:absolute;
    right: 200px; 
    top: 100px;
}
.image img{
    width: 100%;
    height: 550px;
}
.title span{
    animation: animated-text 4s linear 1s 1 normal both;
}
.about-container{
    z-index: -1;
    display: grid;
    gap: 100px;
}
.works{
  color: white;
  text-align: center;
  margin-top:45vh;
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.works p{
  text-align: center;
  color:#cdd000;
}
.events{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4,250px);
  gap: 20px;
}
.baby-shoot{
  background-color: #161718;
  margin-left: 10px;
  position: relative;
  width: 200px;
  border-radius: 10px;
}
.baby-shoot img{
  width: 80px;
  height: 70px;
  margin-right:160px;
  border-radius: 10px;
}
.baby-shoot h5{
  position: absolute;
  left: 100px;
  top: 25px;
  background-color: #161718;
}
.achieve{
  text-align: center;
  margin-top: 30px;
}
@keyframes animated-text{
    from{
      width: 0;
    }
    to{
      width: 456px;
    }
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{
      border-right-color: rgba(255,255,255,.75);
    }
    to{
      border-right-color: transparent;
    }
  }
  @media (max-width:420px) {
    .header-about{
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
    .title{
      margin-left: 70px;
    }
    .title p{
      font-size: 15px;
    }
    .title b{
      font-size: 20px;
    }
    .title h3{
      font-size: 20px;
    }
    .image img{
      height: 300px;
    }
    .works{
      width: 300px;
      margin-top: 20px;
      margin-left: 25px;
    }
    .works p{
      text-align:center;
    }
    .events{
      display: flex;
      flex-direction: column;
    }
    .baby-shoot{
      display: flex;
      justify-content: space-between;
      width: 280px;
    }
  }