.image-item-container img{
   max-width: 100%;
   height: auto;
   vertical-align: middle;
   /* display: inline-block; */
   border-radius: 20px;
}
.image-item-container{
    position: relative;
    /* border: 2px solid white; */
}
.image-item {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,2fr));
    gap:20px;
    row-gap: 20px;
    color: white;
   
}
.like{
    display: flex;
    justify-content: end;
    justify-content: space-between;
    margin-top: 10px;
}
.like img{
    width: 30px;
}
.liked{
    background-color: red;
    padding: 5px;
}
.sdl{
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

@media  (max-width:600px) {
    
    .image-item{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,3fr));
    gap:20px;
    row-gap: 20px;
    color: white;
    }
    
}