.top{
    width: 100%;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    margin-top: 10vh;
}
.top h2{
    color: white;  
    /* animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms; */
    animation:fadeIn 1s;
    
}
.top p{
    color: white;
}
.book-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-btn h2{
    background-color: #03fca5;
    border-radius: 5px;
    width: 100px;
    font-weight: 5px;
    font-size: 20px;
}
.book-btn h2:hover{
    background-color: beige;
    color: black;
}
@media (max-width:320px) {
    .top{
        margin-top: 40px;
    }
    .top h2{
        font-size: 20px;
    }
    .top p{
        font-size: 15px;
    }
}
